

body {
    font-family: Arial, sans-serif;
    background-color: #092f6960;
    text-align: center;
    margin-top: 100px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

input {
    width: 250px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border-color: #45a049;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #222;
}